<div class="container mt-5">
    <div class="row mb-4">
      <div class="col-md-12">
        <form [formGroup]="searchForm" (ngSubmit)="onSearch()">
          <div class="form-row">
            <div class="form-group col-md-3">
              <label for="category">Category</label>
              <input
                type="text"
                id="category"
                class="form-control"
                formControlName="category"
              />
            </div>
            <div class="form-group col-md-3">
              <label for="productName">Product Name</label>
              <input
                type="text"
                id="category"
                class="form-control"
                formControlName="productName"
              />
            </div>
            <div class="form-group col-md-3">
              <label for="productId">Product Id</label>
              <input
                type="text"
                id="productId"
                class="form-control"
                formControlName="productId"
              />
            </div>
            <div class="form-group col-md-2 align-self-end">
              <button type="submit" class="btn btn-primary">Search</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  
    <div class="row">
      <div class="col-md-12">
        <table class="table table-striped">
          <thead>
            <tr>
              <th (click)="onSortChange('productId')">Product Id</th>
              <th (click)="onSortChange('productName')">Product Name</th>
              <th (click)="onSortChange('category')">Category</th>
              <th (click)="onSortChange('price')">Price</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of products">
              <td>{{ product.productId }}</td>
              <td>{{ product.productName }}</td>
              <td>{{ product.category }}</td>
              <td>{{ product.price }}</td>
              <td>
                <button class="btn btn-primary" (click)="editProduct(product)">Edit</button>
                <!-- Delete Button -->
                <button class="btn btn-danger" (click)="deleteProduct(product)">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
       <nav>
        <ul class="pagination">
          <li class="page-item" [class.disabled]="pageNumber === 1">
            <a class="page-link" (click)="onPageChange(pageNumber - 1)">Previous</a>
          </li>
          <li class="page-item" *ngFor="let page of getPageNumbers()"
              [class.active]="pageNumber === page">
            <a class="page-link" (click)="onPageChange(page)">{{ page }}</a>
          </li>
          <li class="page-item" [class.disabled]="pageNumber === getValue(totalProducts , pageSize)">
            <a class="page-link" (click)="onPageChange(pageNumber + 1)">Next</a>
          </li>
        </ul>
      </nav>
        
      </div>
    </div>
  </div>